@import url("https://fonts.googleapis.com/css?family=Staatliches");
body {
  background-color: #fe2712;
  font-family: "Staatliches", cursive;
}

ul {
  list-style: none;
}

.container {
  color: rgb(255, 193, 7);
  border-radius: 10px;
  margin-top: 20px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(/assets/images/burger-img.jpg);
  background-size: cover;
  background-blend-mode: multiply;
}

.btn-add {
  background-color: #fc7307;
}
